<!DOCTYPE html>
<html lang="en">

<head>

    <title>CLINIC SYSTEM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/bootstrap/bootstrap-reboot.min.css'); ?>">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/bootstrap/bootstrap.min.css'); ?>">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/font-awesome/css/font-awesome.min.css'); ?>">

    <link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/css/home.css'); ?>">

    <script src="<?php echo base_url('assets/jquery/jquery-1.7.min.js'); ?>"></script>

</head>

<body id="fullpage">

    <section class="landing">
        <div class="title">
            <h1 class="display-1 card-title mb-5">I Love and Care my <strong class="text-info">EYES</strong></h1>
            <a href="#appointment" class="btn btn-primary" role="button">Set appointment now</a>
        </div>
    </section>

    <section id="serivces" class="services">
        <div class="container">
            <h2 class="mb-5">Services</h2>
            <div class="card-deck">

                <div class="card form-group">
                    <img src="<?php echo base_url('assets/css/images/service1-crop.jpg'); ?>" alt="" class="card-img-top" />
                    <div class="card-body">
                        <p class="card-title text-info">Service 1</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, amet sit dicta incidunt officia, eveniet sapiente nulla a ad aliquam velit porro voluptatum quae aspernatur, dolorum ullam optio ipsa? Quas?</p>
                    </div>
                </div>

                <div class="card form-group">
                    <img src="<?php echo base_url('assets/css/images/service2-crop.jpg'); ?>" alt="" class="card-img-top" />
                    <div class="card-body">
                        <p class="card-title text-info">Service 2</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus repudiandae porro id fugit sed nobis aliquam natus cum quaerat esse maiores laborum perferendis, dolore voluptates accusantium corporis? Nemo libero dolorem minus
                            quis rerum consectetur temporibus, quod, deleniti eius, provident delectus?</p>
                    </div>
                </div>

                <div class="card form-group">
                    <img src="<?php echo base_url('assets/css/images/service3-crop.jpg'); ?>" alt="" class="card-img-top" />
                    <div class="card-body">
                        <p class="card-title text-info">Service 3</p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium, amet sit dicta incidunt officia, eveniet sapiente nulla a ad aliquam velit porro voluptatum quae aspernatur, dolorum ullam optio ipsa? Quas?</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="operation">
        <div class="video-wrapper">
            <video autoplay muted loop>
                <source src="<?php echo base_url('assets/css/images/operation.mp4'); ?>" type="video/mp4">
            </video>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <p class="display-4">50,000+</p>
                    <label for="">Patients Serve </label>
                </div>
                <div class="col-md-4 text-center">
                    <p class="display-4">100,000+</p>
                    <label for="">Medical Checkup</label>
                </div>
                <div class="col-md-4 text-center">
                    <p class="display-4">unknown</p>
                    <label for="">Surgery</label>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutme" class="aboutme">
        <div class="container">
            <h2 class="mb-5">About Us</h2>
            <div class="form-row">
                <div class="col-5 text-center">
                    <img src="<?php echo base_url('assets/css/images/doctor-blank.png') ?>">
                </div>
                <div class="col-7">
                    <h3 class="text-info">I'm CARLO ANTONIO D. ROMERO, M.D.</h3>
                    <h6 class="mb-3">OPHTHALMOLOGIST</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis laboriosam eveniet provident eius, quis quidem! Libero ipsa nulla laudantium tempora earum, id eligendi ex vero soluta doloremque. Voluptate perspiciatis atque tempore,
                        porro minima aperiam, maiores placeat in dolorum cumque non aut totam. Obcaecati natus autem sequi vel, eos repellendus consequuntur!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit rerum saepe laudantium eius quis ut aliquid dolorum distinctio suscipit deserunt porro nobis reiciendis nihil, cum tenetur ipsam numquam. Expedita corrupti suscipit nobis,
                        aspernatur fugit eveniet laborum repellendus quam accusamus ullam nemo neque similique. Fugit nemo ex officia blanditiis in illum vero nulla consequatur ipsam corrupti dolorem aut, voluptatibus itaque rerum?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, iure veritatis! Enim corrupti libero asperiores laboriosam labore accusamus ad delectus nemo quaerat placeat. Mollitia suscipit ipsum officia, error itaque eum
                        pariatur et ea, deserunt nam, animi tenetur. Facere, illum voluptas.</p>
                </div>
            </div>
        </div>
    </section>



    <section id="appointment" class="appointment">
        <div class="container">
            <h2 class="mb-5">Appointment</h2>
        </div>
    </section>


    <section>
        <div class="container">

        </div>
    </section>


    <script>
        "use strict";
        // var elemY = [];
        // var prevTop = 0;
        // var goingTop = false;
        // var targetTop = 0;


        // function resetElemY()
        // {
        //     var bodyHeights = document.body.clientHeight;
        //     var viewportHeight = window.innerHeight;
        //     var startHeight = 0;
        //     elemY = [];
        //     for (var y = 1 ; y <= ( bodyHeights / viewportHeight ) ; y++) { elemY.push( viewportHeight * y );  }
        // }

        $(function() {

            // resetElemY();

            // $('#fullpage').bind('DOMMouseScroll', function(e){

            //     var isChrome = false;
            //     var delta = (isChrome) ? e.delta || e.originalEvent.wheelDelta : e.originalEvent.detail;

            //     if(isChrome && delta < 0){ goingTop = false; }
            //     else if(isChrome && delta > 0){ goingTop = true; }
            //     else if(!isChrome && delta > 0){ goingTop = false; }
            //     else{ goingTop = true; }

            //     targetTop = 0;

            //     for(var i = 0; i < elemY.length; i++ )
            //     {   
            //         if( goingTop && prevTop > elemY[i] ){ targetTop = elemY[i]; i = 1000; }
            //         else if( !goingTop && prevTop < elemY[i] ){ targetTop = elemY[i]; i = 1000; }
            //     }

            //     $('html, body').animate({ scrollTop: targetTop+1 }, 600 );
            //     prevTop = $(window).scrollTop();

            // });

            $("a").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function() {
                        window.location.hash = hash;
                    });
                }
            });

        });

        // $( window ).resize(function() { resetElemY(); });

        // $( window ).scroll(function(){ 
        //     if ( $(window).scrollTop() == targetTop ){ $(window).stop(); }
        //     prevTop = $(window).scrollTop(); 
        // });
    </script>

</body>

</html>